<h2>Product List</h2>
<input [(ngModel)]="filterText" placeholder="Filter by name" />
<div *ngIf="filterProducts().length > 0; else noProducts">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filterProducts()">
        <td>
          <a [routerLink]="['/product', product.id, 'detail']" >
            {{ product.id }}
          </a>
          </td>
        <td>{{ product.name }}</td>
        <td>${{ product.price }}</td>
        <td [ngStyle]="{ color: product.inStock ? 'green' : 'red' }">
          {{ product.inStock ? "In Stock" : "Out of Stock" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noProducts>
  <p>No products match the filter.</p>
</ng-template>
